<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wang.mapper.BalanceRecordMapper">

    <resultMap id="BaseResultMap" type="org.wang.model.BalanceRecord">
            <id property="ID" column="ID" jdbcType="VARCHAR"/>
            <result property="unit_ID" column="Unit_ID" jdbcType="VARCHAR"/>
            <result property="action_type" column="Action_type" jdbcType="VARCHAR"/>
            <result property="amount" column="Amount" jdbcType="FLOAT"/>
            <result property="action_time" column="Action_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,Unit_ID,Action_type,
        Amount,Action_time
    </sql>
    
    <select id="getBalanceRecord" resultType="org.wang.model.vo.BalanceRecordVo">
        select *
        from balance_record b
        inner join unit u on b.Unit_ID = u.ID
        WHERE
        <if test="uid != null and uid != ''">
            b.Unit_ID = #{uid} AND
        </if>
        <if test="minTime != null">
            b.Action_time >= #{minTime} AND
        </if>
        <if test="maxTime != null">
            b.Action_time &lt;= #{maxTime} AND
        </if>
        1=1
    </select>
</mapper>
