<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wang.mapper.ProjectInformationMapper">

    <resultMap id="BaseResultMap" type="org.wang.model.ProjectInformation">
            <id property="ID" column="ID" jdbcType="VARCHAR"/>
            <result property="project_name" column="Project_name" jdbcType="VARCHAR"/>
            <result property="department_name" column="Department_name" jdbcType="VARCHAR"/>
            <result property="project_type" column="Project_type" jdbcType="VARCHAR"/>
            <result property="price" column="Price" jdbcType="FLOAT"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,Project_name,Department_name,
        Project_type,Price
    </sql>

    <select id="selectProject" resultType="org.wang.model.ProjectInformation">
        SELECT ID, Project_name, Department_name, Project_type, Price
        FROM project_information
        WHERE
        <if test="departmentId == null or departmentId == ''">
            ID IN (SELECT ID FROM project_information)
            <if test="projectName != null and projectName != ''">
                AND Project_name LIKE CONCAT('%', #{projectName}, '%')
            </if>
        </if>
        <if test="departmentId != null and departmentId != ''">
            EXISTS (
            SELECT 1 FROM department_project WHERE Department_ID = #{departmentId} AND Project_ID = project_information.ID
            )
            <if test="projectName != null and projectName != ''">
                AND Project_name LIKE CONCAT('%', #{projectName}, '%')
            </if>
        </if>
    </select>
</mapper>
