<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wang.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="org.wang.model.User">
            <id property="ID" column="ID" jdbcType="VARCHAR"/>
            <result property="username" column="Username" jdbcType="VARCHAR"/>
            <result property="password" column="Password" jdbcType="VARCHAR"/>
            <result property="real_name" column="Real_name" jdbcType="VARCHAR"/>
            <result property="department" column="Department" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,Username,Password,
        Real_name,Department
    </sql>
</mapper>
