<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wang.mapper.UserRoleRelationshipMapper">

    <resultMap id="BaseResultMap" type="org.wang.model.UserRoleRelationship">
            <id property="ID" column="ID" jdbcType="VARCHAR"/>
            <result property="user_ID" column="User_ID" jdbcType="VARCHAR"/>
            <result property="role_ID" column="Role_ID" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,User_ID,Role_ID
    </sql>
</mapper>
