<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wang.mapper.DetailItemMapper">

    <resultMap id="BaseResultMap" type="org.wang.model.DetailItem">
            <id property="ID" column="ID" jdbcType="VARCHAR"/>
            <result property="detail_item_name" column="Detail_item_name" jdbcType="VARCHAR"/>
            <result property="measurement_unit" column="Measurement_unit" jdbcType="VARCHAR"/>
            <result property="upper_limit_value" column="Upper_limit_value" jdbcType="FLOAT"/>
            <result property="lower_limit_value" column="Lower_limit_value" jdbcType="FLOAT"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,Detail_item_name,Measurement_unit,
        Upper_limit_value,Lower_limit_value
    </sql>

    <select id="selectDetail" resultType="org.wang.model.DetailItem">
        SELECT ID, Detail_item_name, Measurement_unit, Upper_limit_value, Lower_limit_value
        FROM Detail_item
        WHERE
        <if test="projectId == null or projectId == ''">
            ID IN (SELECT ID FROM detail_item)
            <if test="detailName != null and detailName != ''">
                AND Detail_item_name LIKE CONCAT('%', #{detailName}, '%')
            </if>
        </if>
        <if test="projectId != null and projectId != ''">
            EXISTS (
            SELECT 1 FROM project_detailitem_relationship WHERE Project_ID = #{projectId} AND Detail_item_ID = Detail_item.ID
            )
            <if test="detailName != null and detailName != ''">
                AND Detail_item_name LIKE CONCAT('%', #{detailName}, '%')
            </if>
        </if>
    </select>
</mapper>
