<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wang.mapper.EmployeeMapper">

    <resultMap id="BaseResultMap" type="org.wang.model.Employee">
            <id property="ID" column="ID" jdbcType="VARCHAR"/>
            <result property="name" column="Name" jdbcType="VARCHAR"/>
            <result property="gender" column="Gender" jdbcType="VARCHAR"/>
            <result property="age" column="Age" jdbcType="INTEGER"/>
            <result property="phone" column="Phone" jdbcType="VARCHAR"/>
            <result property="ID_card_number" column="ID_card_number" jdbcType="VARCHAR"/>
            <result property="billing_status" column="Billing_status" jdbcType="VARCHAR"/>
            <result property="unit_ID" column="Unit_ID" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,Name,Gender,
        Age,Phone,ID_card_number,
        Billing_status,Unit_ID
    </sql>

    <select id="countEmployee" parameterType="com.baomidou.mybatisplus.core.conditions.query.QueryWrapper" resultType="int">
        SELECT COUNT(*)
        FROM employee e
        LEFT JOIN unit u ON e.Unit_ID = u.ID
        <where>
            <if test="ew.paramNameValuePairs['keyword'] != null and ew.paramNameValuePairs['keyword'].value != ''">
                AND (u.Unit_name LIKE CONCAT('%', #{ew.paramNameValuePairs['keyword'].value}, '%'))
            </if>
        </where>
    </select>

<!--    <insert id="saveBatch">-->
<!--        insert into employee (ID,Name,Gender,Age,Phone,ID_card_number,Billing_status,Unit_ID)-->
<!--        values-->
<!--        <foreach collection="list" separator="," item="Employee">-->
<!--            (#{Employee.ID},#{Employee.name},#{Employee.gender},#{Employee.age},#{Employee.phone},#{Employee.ID_card_number},#{Employee.billing_status},#{Employee.unit_ID})-->
<!--        </foreach>-->
<!--    </insert>-->

<!--    <insert id="saveBatch">-->
<!--        insert into employee (ID,Name,Gender,Age,Phone,ID_card_number,Billing_status,Unit_ID)-->
<!--        values-->
<!--        <foreach collection="list" separator="," item="Employee">-->
<!--            (-->
<!--            <choose>-->
<!--                <when test="id != null and id != ''">#{Employee.id}</when>-->
<!--                <otherwise>#{java.util.UUID.randomUUID().toString().replace("-", "").substring(0, 19)}</otherwise>-->
<!--            </choose>-->
<!--            , #{Employee.name}, #{Employee.gender}, #{Employee.age}, #{Employee.phone}, #{Employee.id_card_number}, 0, #{Employee.unit_ID}-->
<!--            )-->
<!--        </foreach>-->
<!--    </insert>-->

    <insert id="saveBatch">
        insert into employee (ID,Name,Gender,Age,Phone,ID_card_number,Billing_status,Unit_ID)
        values
        <foreach collection="list" separator="," item="Employee">
            (
            <choose>
                <when test="Employee.ID != null and Employee.ID != ''">#{Employee.ID}</when>
                <otherwise>#{java.util.UUID.randomUUID().toString().replace('-', '').substring(0, 19)}</otherwise>
            </choose>
            , #{Employee.name}, #{Employee.gender}, #{Employee.age}, #{Employee.phone}, #{Employee.ID_card_number}, 0, #{Employee.unit_ID}
            )
        </foreach>
    </insert>
</mapper>
